<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submission</title>
</head>
<body>
  {% if status == "pass" %}
    <p>Your submission passed the pre screening.</p>
  {% elif status == "fail" %}
    <p>Sorry. Your submission needs to be more accurate. Please try again.</p>
  {% elif status == "err" %}
    <p>Sorry. An issue was encountered while submitting. Please try again later. The issue is detailed below:</p>
    <p>{{err}}</p>
  {% else %}
    <p>An unknown status was encountered. </p>
  {% endif %}
</body>
</html>