<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Test</title>
</head>
<body>
    <form action="/audio" method="post" enctype="multipart/form-data">
        <label for="audio">Upload audio:</label>
        <input type="file" id="audio" name="audio" multiple><br><br>
        <label for="qb_id">Question ID:</label>
        <input type="text" id="qb_id" name="qb_id" multiple><br><br>
        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userId" multiple><br><br>
        <label for="recType">Recording Type:</label>
        <input type="text" id="recType" name="recType" multiple><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>