<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Test</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="audio">Upload audio:</label>
        <input type="file" id="audio" name="audio"><br><br>
        <!-- These would not be input by the user. -->
        <label for="questionId">Question ID:</label>
        <input type="text" id="questionId" name="questionId"><br><br>
        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userId"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>